{%  extends 'mainApp/main.html' %}
{% load static %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md-5">
		<div class="card card-body">
			<h5>Станок</h5> 
			<p>ID: {{machine.id}} | Модель: {{machine.model}}</p>
			<p>Вероятность поломки компоненты <b>comp1</b> 95.7%</p>
			<hr>
			<h5>Всего задач: {{task_count}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Обновить информацию</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_task_machine' machine.id %}">Добавить ремонтную задачу</a>

		</div>
	</div>

	<div class="col-md-7">
		<div class="card card-body">
			<h5>Графики</h5>
			<hr>

			<img id="chart" src="{% static 'images/chart.png' %}" />
			
		</div>
	</div>
</div>

<!--<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Поиск</button>
		  </form>
		</div>
	</div>
	
</div>
-->
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Станок</th>
					<th>Время добавления</th>
					<th>Исполнитель</th>
					<th>Статус</th>
					<th>Обновить</th>
					<th>Удалить</th>
				</tr>

				{% for task in tasks %}

				<tr>
					<td>{{task.machine}}</td>
					<td>{{task.date_created}}</td>
					<td>{{task.worker}}</td>
					<td>{{task.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Обновить</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Удалить</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}